h1{
    text-align: center;
    font-style: italic;
    color:mediumaquamarine;
    font-size: xx-large;
    
}
#date_time{
    text-align: center;
    color: black;
    font-size: larger;
  
}
h2{
    text-align: center;
    font-size: large;
    color: darkred;
}